* {
  margin: 0%;
  font-family: Arial;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: rgb(15, 17, 17);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url("image/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/** Next Section **/

.address-first {
  color: rgb(204, 204, 204);
  font-size: 12px;
  margin-left: 15px;
}

.address-second {
  color: white;
  margin-left: 3px;
}

.add-icon {
  display: flex;
  align-items: center;
}

/** Next Section **/

.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffa127;
  width: 600px;
  height: 40px;
  border-radius: 3px;
}

.search-select {
  background-color: #c1c1c1;
  width: 50px;
  text-align: center;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon {
  width: 45px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: rgb(15, 17, 17);
}

.nav-search:hover {
  border: 2px solid orange;
}

/** Next Section **/

span {
  font-size: 0.7rem;
}

.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}

/** Next Section **/

.nav-cart i {
  font-size: 23px;
}

.nav-cart {
  font-size: 0.875rem;
  font-weight: 700;
}

/** Panel **/

.panel {
  height: 40px;
  background-color: rgb(39, 48, 66);
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  
}

.panel-options p {
  display: inline;
  margin-left: 3px;
}

.panel-options {
  width: 80%;
  font-size: 0.85rem;
}

/** Hero Section **/

.hero-section {
  background-image: url("image/hero\ image\ for\ amazon.jpg");
  background-size: cover;
  height: 300px;
}

/**Shop Section **/

.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(23, 112, 190);
}

.box {
  /* border: 2px solid black; */
  height: 430px;
  width: 298px;
  background-color: white;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.box-img {
  height: 303px;
  width: 282px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-size: cover;
  
}

.box-content {
  margin-top: 16px;
  margin-left: 4px;
  margin-right: 4px;
}

.box-content p {
  color: rgb(65, 166, 254);
  margin-bottom: 6px;
}

/** Footer Panel **/

.foot-panel1 {
  background-color: rgb(72, 89, 119);
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.foot-panel2  {
  background-color: rgb(39, 48, 66);
  color: white;
  height: 375px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  margin-top: 40px;
}

ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 12px;
  color: rgb(221, 221, 221);
}

.foot-panel3 {
  background-color: rgb(39, 48, 66);
  color: white;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-panel4 {
  background-color: rgb(15, 17, 17);
  color: white;
  height:87px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.pages {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 25px;
}

.copyright {
  padding-top: 5px;
  font-size: 0.8rem;
  text-align: center;
}