* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

.side-bar {
  width: 300px;
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
}

.side-bar-nav {
  background: rgb(23, 23, 23);
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 10px;
}

.side-bar-nav .logo {
  width: 120px;
  padding-left: 15px;
}

.side-bar-nav .logo img {
  width: 100px;
}

.side-bar-nav ul {
  list-style: none;
}

.side-bar-nav ul li {
  padding: 10px 20px;
}

.side-bar-nav ul li a {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 600;
}

.side-bar-nav ul li a:hover {
  color: white;
}

.side-bar-nav ul li a i {
  font-size: 20px;
  margin-right: 10px;
}

.library::after {
  content: '+';
  float: right;
  text-align: center;
  border-radius: 50%;
  font-size: 23px;
}

.create-playlist {
  background: rgb(36, 36, 36);
  color: white;
  padding: 15px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.follow-podcast {
  background: rgb(36, 36, 36);
  color: white;
  padding: 30px 15px;
  border-radius: 10px;
}

.side-bar-scroll {
  height: 140px;
  overflow-y: auto;
}

.create-playlist p {
  color: rgb(202, 202, 202);
  font-size: 0.8rem;
  padding-top: 10px;
  padding-bottom: 20px;
}

.follow-podcast p {
  color: rgb(202, 202, 202);
  font-size: 0.85rem;
  padding-top: 12px;
  padding-bottom: 20px;
}

.create-playlist h4 {
  font-weight: bolder;
  font-size: 20px;
}

.follow-podcast h4 {
  font-weight: bolder;
  font-size: 20px;
}

.side-bar-scroll::-webkit-scrollbar {
  background: transparent;
}

.side-bar-scroll::-webkit-scrollbar-thumb {
  background: transparent;
  width: 9px;
}

.side-bar-scroll:hover::-webkit-scrollbar-thumb {
  background: rgb(57, 57, 57);
  width: 4px;
}

.create-playlist button {
  padding: 8px 15px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.follow-podcast button {
  padding: 8px 15px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.privacy ul li a {
  text-decoration: none;
  color: rgb(106, 106, 106);
  font-size: 0.75rem;
  font-weight: 600;
  margin: 0 5px;
}

.privacy ul li a:hover {
  text-decoration: underline;
  color: rgb(165, 165, 165);
}

.privacy ul {
  list-style: none;
  margin-top: 10px;
}

.privacy ul li {
  padding: 0 10px;
  padding-bottom: 8px;
}

.eng-button {
  padding: 20px 30px;
}

.eng-button button {
  padding: 10px 30px;
  background: transparent;
  border: 0;
  outline: none;
  color: white;
  border: 1px solid #818080;
  border-radius: 20px;
  margin: 10px 0;
}

.eng-button button:hover {
  padding: 11px 31px;
  border: 1px solid white;
}

.main-section {
  margin-left: 300px;
  background: rgb(23, 23, 23);
  height: 200vh;
  overflow-y: auto;
  margin-bottom: 80px;
}

.main-section::-webkit-scrollbar {
  background: transparent;
}

.main-section::-webkit-scrollbar-thumb {
  background: transparent;
  width: 10px;
}

.main-section:hover::-webkit-scrollbar-thumb {
  background: rgb(57, 57, 57);
  width: 5px;
}


.main-section .top-nav {
  padding: 17px 30px;
  background: #030303;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-section .top-nav .prev-btn button {
  background: transparent;
  border: 0;
  outline: 0;
}

.main-section .top-nav .prev-btn button i {
  color: rgb(136, 136, 136);
  font-size: 22px;
  margin-right: 20px;
}

.top-nav .login-btn .sign-up {
  background: transparent;
  border: none;
  color: #838181;
  font-size: 16px;
  font-weight: 600;
  margin-right: 25px;
}

.top-nav .login-btn .sign-up:hover {
  color: white;
}

.top-nav .login-btn .login {
  color: #232323;
  font-size: 16px;
  font-weight: 600;
  background: white;
  padding: 12px 25px;
  border-radius: 25px;
}

.top-nav .login-btn .login:hover {
  background: #f3f3f3;
}

.spotify-playlist {
  padding: 20px 30px;
}

.spotify-playlist h2 {
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
}

.spotify-playlist .card {
  display: flex;
  gap: 1px;
  overflow: hidden;
}

.spotify-playlist .card .item {
  width: 290px;
  min-width: 190px;
  background-color: rgb(23, 23, 23);
  cursor: pointer;
  padding: 15px;
  border-radius: 6px;
}

.spotify-playlist .card .item:hover {
  background-color: #222222;
}

.spotify-playlist .card .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.spotify-playlist .card .item h4 {
  color: white;
  font-weight: 190;
}

.spotify-playlist .card .item p {
  color: rgb(145, 144, 144);
  font-size: 13px;
  margin-top: 10px;
}

.spotify-playlist .card .item p:hover {
  text-decoration: underline;
}

.spotify-playlist .play-button {
  position: relative;
}

.spotify-playlist .play-button i {
  position: absolute;
  background-color: rgb(1, 194, 1);
  border-radius: 95%;
  padding: 15px;
  right: 10px;
  top: -48px;
  opacity: 0;
  transform: 0.3s ease all;
}

.spotify-playlist .card .item:hover .play-button i {
  opacity: 1;
  transform: translateY(-20px);
}

.footer-section {
  padding: 20px 40px;
}

.footer-section .footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.footer-section .footer .footer-links {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.footer-section .footer .footer-links .footer-column {
  margin: 0 12px;
}

.footer-section .footer .footer-links div {
  color: white;
  font-weight: 600;
  margin-bottom: 12px;
  font-size: 16px;
} 

.footer-section .footer .footer-links ul li {
  list-style: none;
  margin: 6px 0;
} 

.footer-section .footer .footer-links ul li a {
  text-decoration: none;
  color: #969393;
  font-size: 14px;
  cursor: pointer;
} 

.footer-section .footer .footer-links ul li a:hover {
  text-decoration: underline;
  color: white;
} 

.footer .social-links i {
  color: white;
  background: #353434;
  padding: 12px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.footer .social-links i:hover {
  background: #747474;
}

hr {
  margin: 20px 40px;
  border: 0;
  outline: 0;
  border: 0.1px solid rgb(70, 69, 69);
  margin-top: 40px;
}

.copyright {
  padding: 0 40px;
  color: #969393;
  font-size: 15px;
  margin-bottom: 30px;
}

.preview {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #ae2896,#509bf5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 40px;
}

.preview h4 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
}

.preview h4 {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.preview button{
  padding: 12px 30px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #030303;
}